<section id="advantages" class="section">
    <div class="section__container">
        <h2 class="section__title appear-animation">Зачем&nbsp;вам это нужно?</h2>
        <ul class="advantages">
            <li class="advantages__item appear-animation">
                <span class="advantages__icon">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#a-clock"
                        ></use>
                    </svg>
                </span>
                <div class="advantages__lead">
                    <h4 class="advantages__title">Экономия времени</h4>
                    <p class="advantages__description">
                        Мы привозим готовое питание
                        прямо на дом, а вы можете
                        заниматься любимыми делами!
                    </p>
                </div>
            </li>
            <li class="advantages__item appear-animation">
                <span class="advantages__icon">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#a-price"
                        ></use>
                    </svg>
                </span>
                <div class="advantages__lead">
                    <h4 class="advantages__title">Блюда по цене продуктов</h4>
                    <p class="advantages__description">
                        Блюда готовят профессиональные
                        повара по авторскому меню
                        и европейским стандартам
                    </p>
                </div>
            </li>
            <li class="advantages__item appear-animation">
                <span class="advantages__icon">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#a-healthy"
                        ></use>
                    </svg>
                </span>
                <div class="advantages__lead">
                    <h4 class="advantages__title">Доказанная польза</h4>
                    <p class="advantages__description">
                        Нормы калорийности и баланс
                        БЖУ выверены квалифицированным
                        диетологом
                    </p>
                </div>
            </li>
            <li class="advantages__item appear-animation">
                <span class="advantages__icon">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#a-target"
                        ></use>
                    </svg>
                </span>
                <div class="advantages__lead">
                    <h4 class="advantages__title">Достижение целей</h4>
                    <p class="advantages__description">
                        Выбирайте рацион, подходящий
                        именно для ваших целей: питайтесь
                        вкусно, худейте, поддерживайте
                        форму или набирайте массу!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
