<div class="collapsible">
    <div class="collapsible__tab">
        <span class="collapsible__heading">
            Используете ли вы сахар или сахарозаменитель. Если да, то какой?
        </span>
        <span class="collapsible__arrow">
            <svg>
                <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="images/icons.svg#arrow-down"
                ></use>
            </svg>
        </span>
    </div>
    <div class="collapsible__body">
        <div class="collapsible__body-inner">
            <p>
                Основной источник белка - куриная грудка, а также для
                разнообразия мы используем говядину, свинину, рыбу и
                морепродукты.
            </p>
        </div>
    </div>
</div>
