<section id="faq" class="section section--faq">
    <div class="section__container">
        <h2 class="section__title appear-animation">Частые вопросы</h2>
        <div class="faq">
            <div class="faq__list js-faq-tabs tabs">
                <div class="tabs__select u-mobile-only appear-animation">
                    <button type="button" class="tabs__select-toggle">
                        <span class="tabs__select-label">Продукты</span>
                        <span class="tabs__select-icon">
                            <svg>
                                <use
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="images/icons.svg#arrow-down"
                                ></use>
                            </svg>
                        </span>
                    </button>
                    <div class="tabs__select-body">
                        <div data-tab-index="0" class="tabs__select-option tabs__select-option--is-selected">
                            Продукты
                        </div>
                        <div data-tab-index="1" class="tabs__select-option">
                            Тарифы
                        </div>
                        <div data-tab-index="2" class="tabs__select-option">
                            Оплата и доставка
                        </div>
                        <div data-tab-index="3" class="tabs__select-option">
                            Хранение
                        </div>
                    </div>
                </div>
                <div class="tabs__controls appear-animation">
                    <button
                        type="button"
                        class="tabs__control"
                        data-tab-index="0"
                    >
                        Продукты
                    </button>
                    <button
                        type="button"
                        class="tabs__control"
                        data-tab-index="1"
                    >
                        Тарифы
                    </button>
                    <button
                        type="button"
                        class="tabs__control"
                        data-tab-index="2"
                    >
                        Оплата и доставка
                    </button>
                    <button
                        type="button"
                        class="tabs__control"
                        data-tab-index="3"
                    >
                        Хранение
                    </button>
                </div>
                <div class="tabs__panels faq__panels appear-animation">
                    <div class="tabs__panel">
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                    </div>
                    <div class="tabs__panel">
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                    </div>
                    <div class="tabs__panel">
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                    </div>
                    <div class="tabs__panel">
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                        @@include('./collapsible.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
