<section id="founder" class="section">
    <div class="section__container">
        <div class="founder">
            <div class="founder__image appear-animation">
                <img src="images/sport-woman.webp" alt="Радмила Шамбулина" />
            </div>
            <div class="founder__content">
                <blockquote>
                    <footer>
                        <h2 class="founder__title appear-animation">
                            Основатель "Propitanie41"
                            <span class="founder__name">Елена Новикова</span>
                        </h2>
                    </footer>
                    <p class="founder__quote appear-animation">
                        Меня зовут Елена Новикова, и я один из основателей
                        проекта Propitanie41. Я лично достигаю поставленных
                        спортивных целей с нашими рационами, присоединяйтесь и
                        вы!
                    </p>
                </blockquote>
                <div class="founder__cta appear-animation">
                    <a
                        href="#select-diet"
                        class="button button--red founder__button"
                    >
                        Выбрать рацион
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
