<div class="hero js-hero-carousel">
    <div class="hero__carousel glide">
        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
                <li class="glide__slide hero__slide hero__slide--appear">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            Больше не нужно
                            стоять у плиты!
                        </h2>
                        <h3 class="hero__supplementary">
                            Доставим готовую еду на всю неделю
                            от 550 р в день.
                        </h3>
                        <div class="hero__button-wrapper">
                            <a href="#select-diet" class="button button--green hero__button">
                                Выбрать рацион
                            </a>
                        </div>
                    </div>
                    <img src="images/hero-image-1.jpg" alt="">
                </li>
                <li class="glide__slide hero__slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            Больше не нужно
                            стоять у плиты!
                        </h2>
                        <h3 class="hero__supplementary">
                            Доставим готовую еду на всю неделю
                            от 550 р в день.
                        </h3>
                        <div class="hero__button-wrapper">
                            <a href="#select-diet" class="button button--yellow hero__button">
                                Выбрать рацион
                            </a>
                        </div>
                    </div>
                    <img src="images/hero-image-2.jpg" alt="">
                </li>
                <li class="glide__slide hero__slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            Больше не нужно
                            стоять у плиты!
                        </h2>
                        <h3 class="hero__supplementary">
                            Доставим готовую еду на всю неделю
                            от 550 р в день.
                        </h3>
                        <div class="hero__button-wrapper">
                            <a href="#select-diet" class="button button--blue hero__button">
                                Выбрать рацион
                            </a>
                        </div>
                    </div>
                    <img src="images/hero-image-3.jpg" alt="">
                </li>
                <li class="glide__slide hero__slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            Больше не нужно
                            стоять у плиты!
                        </h2>
                        <h3 class="hero__supplementary">
                            Доставим готовую еду на всю неделю
                            от 550 р в день.
                        </h3>
                        <div class="hero__button-wrapper">
                            <a href="#select-diet" class="button button--red hero__button">
                                Выбрать рацион
                            </a>
                        </div>
                    </div>
                    <img src="images/hero-image-4.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="hero__pagination">
        <button type="button" class="hero__pagination-step hero__pagination-step--is-active">1</button>
        <button type="button" class="hero__pagination-step">2</button>
        <button type="button" class="hero__pagination-step">3</button>
        <button type="button" class="hero__pagination-step">4</button>
    </div>
    <div class="hero__overlay u-desktop-and-up">
        <div class="hero__container">
            <ul class="hero__socials">
                <li class="hero__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#vk"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li class="hero__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#instagram"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li class="hero__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#fb"
                            ></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button type="button" class="hero__scroll-down js-scroll-down">
                <svg>
                    <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/icons.svg#scroll-mouse"
                    ></use>
                </svg>
            </button>
        </div>
    </div>
</div>
