<section id="intro" class="section">
    <div class="intro">
        <div class="section__container">
            <h2 class="section__title appear-animation">Как это работает</h2>
            <div class="intro__container">
                <div class="intro__step appear-animation">
                    <div class="intro__count">
                        <svg class="step-number step-number--visible" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="13" stroke="#D6E4AF" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle class="step-number__s step-number__s--1" cx="14" cy="14" r="13" />
                        </svg>
                        <span class="intro__number">1</span>
                    </div>
                    <div class="intro__inner">
                        <h4 class="intro__title">Выбор рациона</h4>
                        <p class="intro__lead">
                            Определяетесь с планом питания
                            (600, 1000, 1500 или 2000 ккал в день)
                            и количеством дней (2, 5, 20 дней).
                            Или заказываете обратный звонок:
                            мы вам поможем!
                        </p>
                    </div>
                </div>
                <div class="intro__step appear-animation">
                    <div class="intro__count">
                        <svg class="step-number step-number--visible" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="13" stroke="#D6E4AF" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle class="step-number__s step-number__s--2" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--1" cx="14" cy="14" r="13" />
                        </svg>
                        <span class="intro__number">2</span>
                    </div>
                    <div class="intro__inner">
                        <h4 class="intro__title">Заявка и оплата</h4>
                        <p class="intro__lead">
                            Оставляете заявку любым удобным
                            для вас образом: через сайт, в наших
                            соцсетях  или мессенджерах.
                            Оплатить можно онлайн или наличными курьеру при первой доставке заказа.
                        </p>
                    </div>
                </div>
                <div class="intro__step appear-animation">
                    <div class="intro__count">
                        <svg class="step-number step-number--visible" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="13" stroke="#D6E4AF" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle class="step-number__s step-number__s--3" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--2" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--1" cx="14" cy="14" r="13" />
                        </svg>
                        <span class="intro__number">3</span>
                    </div>
                    <div class="intro__inner">
                        <h4 class="intro__title">Приготовление и&nbsp;доставка</h4>
                        <p class="intro__lead">
                            Мы готовим блюда для вас ежедневно
                            только из свежих продуктов. Доставка
                            осуществляется на следующий день
                            после заказа, если вы успели сделать
                            его до 18:00. Мы доставляем еду каждый
                            день с 9:30 до 13:30!
                        </p>
                    </div>
                </div>
                <div class="intro__step appear-animation">
                    <div class="intro__count">
                        <svg class="step-number step-number--visible" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="13" stroke="#D6E4AF" stroke-linejoin="round"/>
                            <circle class="step-number__s step-number__s--4" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--3" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--2" cx="14" cy="14" r="13" />
                            <circle class="step-number__s step-number__s--1" cx="14" cy="14" r="13" />
                        </svg>
                        <span class="intro__number">4</span>
                    </div>
                    <div class="intro__inner">
                        <h4 class="intro__title">Питание в&nbsp;удовольствие</h4>
                        <p class="intro__lead">
                            В наборе питания будет 4 блюда
                            или 5, если вы возьмете завтрак.
                            Вы компонуете блюда так, как вам
                            нравится, питаетесь вкусно и полезно,
                            достигая цели без потери времени!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
