<div class="menu">
    <nav class="menu__nav">
        <a href="/#intro" class="menu__link">Как это работает</a>
        <a href="/#select-diet" class="menu__link">Выбор питания и&nbsp;цены</a>
        <a href="/#reviews" class="menu__link">Отзывы</a>
        <a href="/#faq" class="menu__link">Помощь</a>
        <a
            href="/#select-diet"
            class="menu__button button button--yellow u-desktop-and-up"
            >Заказать</a
        >
    </nav>
    <ul class="menu__socials u-mobile-only">
        <li class="menu__socials-item">
            <a
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://vk.com/"
            >
                <svg>
                    <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/icons.svg#vk"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="menu__socials-item">
            <a
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://vk.com/"
            >
                <svg>
                    <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/icons.svg#instagram"
                    ></use>
                </svg>
            </a>
        </li>
        <li class="menu__socials-item">
            <a
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://vk.com/"
            >
                <svg>
                    <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/icons.svg#fb"
                    ></use>
                </svg>
            </a>
        </li>
    </ul>
    <address class="menu__address">
        <a class="menu__phone" href="tel:+79060049229">
            +7 (906) 004-92-29
        </a>
        <p class="menu__time menu__text">
            ежедневно<br />
            с 9:00 до 18:00
        </p>
        @@include('./city-select.html')
    </address>
</div>
