<div class="spinner">
    <button type="button" data-action="decrement" class="spinner__control">
        <svg>
            <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="images/icons.svg#minus"
            ></use>
        </svg>
    </button>
    <input readonly type="text" value="1" class="spinner__input">
    <button type="button" data-action="increment" class="spinner__control">
        <svg>
            <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="images/icons.svg#plus"
            ></use>
        </svg>
    </button>
</div>
