.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:active {
        user-select: none;
    }

    &__frame {
        @include square($size: 20px);

        border: 1px solid $color-gray1;
        margin-right: 5px;
        display: block;
        position: relative;

        /* stylelint-disable-next-line */
        @include mq($from: desktop) {
            @include square($size: 26px);

            margin-right: 10px;
        }

        @include mq($from: wide) {
            margin-right: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 13px;
            height: 8px;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background: url('../images/checkmark.svg') no-repeat 50% 50% / contain;
            opacity: 0;
            transition: opacity .15s;

            @include mq($from: desktop) {
                width: 16px;
                height: 10px;
            }
        }
    }

    &__label {
        font-size: 10px;
        color: $color-black;

        @include mq($from: desktop) {
            font-size: 12px;
        }
    }

    &__input {
        @include visually-hidden();
    }

    &__input:checked ~ &__frame::after {
        opacity: 1;
    }
}
