.diet-card {
    $root: &;
    $colors: (
        'extra-light': $color-green,
        'light': $color-yellow,
        'minimum': $color-blue,
        'energy': $color-red
    );

    @extend %appear-animation;

    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
    border-radius: 36px;
    overflow: hidden;

    @include mq($until: desktop) {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    @include mq($from: desktop) {
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(25% - 9.75px);

        &:not(:last-of-type) {
            margin-bottom: 0;
            margin-right: 13px;
        }

        @for $i from 1 through length($list: $colors) {
            &:nth-child(#{$i}) {
                $delay: $i * .06s;

                transition-delay: $delay, $delay;
            }
        }
    }

    @include mq($from: wide) {
        flex: 0 0 calc(25% - 22.5px);

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px;
        color: $color-white;

        @include mq($from: desktop) {
            padding: 18px;
        }

        @include mq($from: wide) {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 0;
            position: relative;
        }
    }

    &__circle {
        @include mq($until: wide) {
            display: none;
        }

        @include mq($from: wide) {
            position: absolute;
            left: 0;
            right: 0;
            height: 84px;
            bottom: -58px;
        }
    }

    &__icon {
        width: 44px;
        height: 37px;
        flex-shrink: 0;
        margin-right: 10px;

        @include mq($from: desktop) {
            width: 30px;
            height: 25px;
        }

        @include mq($from: wide) {
            order: 1;
            margin-right: 0;
            width: 106px;
            height: 89px;
            position: relative;
            top: 20px;
            z-index: 2;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        font-family: $accent-font-family;

        @include mq($from: desktop) {
            font-size: 18px;
            text-align: center;
        }

        @include mq($from: wide) {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }

    &__inner {
        text-align: center;
        padding: 30px 30px 35px;
        flex: 1 0 auto;

        @include mq($from: desktop) {
            padding-right: 10px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
        }

        @include mq($from: wide) {
            padding: 30px;
            padding-top: 70px;
        }
    }

    &__controls {
        @include mq($from: desktop) {
            margin-top: auto;
        }
    }

    &__calory {
        font-size: 16px;
        margin-bottom: 10px;

        @include mq($from: wide) {
            font-size: 18px;
        }
    }

    &__composition {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;

        @include mq($from: wide) {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 25px;
        }
    }

    &__supplementary {
        font-size: 12px;
        margin-bottom: 15px;

        @include mq($from: wide) {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }

    &__amount {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;

        @include mq($from: wide) {
            margin-bottom: 15px;
        }
    }

    &__tip {
        font-size: 10px;
        color: $color-gray1;
        margin-top: 5px;

        @include mq($from: wide) {
            font-size: 12px;
        }
    }

    &__button {
        max-width: 205px;

        @include mq($from: desktop) {
            font-size: 16px;
            height: 38px;
            min-width: 190px;
        }

        @include mq($from: wide) {
            font-size: 24px;
            height: 68px;
            max-width: none;
            min-width: 265px;
        }
    }

    &__price {
        font-size: 22px;
        color: $color-black;
        font-weight: 700;
        font-family: $accent-font-family;
        margin-bottom: 25px;

        @include mq($from: wide) {
            font-size: 24px;
            margin-bottom: 18px;
        }
    }

    @each $color-key in map-keys($map: $colors) {
        $color: map-get($map: $colors, $key: $color-key);

        &--#{$color-key} {
            #{$root}__header {
                background-color: $color;
            }

            #{$root}__circle {
                fill: $color;
            }
        }
    }
}
