.guide {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: $color-white;
    padding: 100px 10px 35px;
    z-index: 102;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    transform: translateX(-101%);
    transition: transform .56s $ease-in-quart;

    @include mq($from: desktop) {
        position: static;
    }

    &__inner {
        height: 100%;
    }

    &--open {
        transform: translateX(0);
    }

    &__close {
        @include clear-button-defaults();
        @include square($size: 12px);

        position: absolute;
        right: 15px;
        top: 28px;
        transition: opacity .3s;

        &:hover {
            opacity: .65;
        }
    }
}
