.header {
    $root: &;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-white;
        opacity: 0;
        transition: opacity .4s;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    }

    &__navbar {
        display: flex;
        flex: 1 1 auto;

        @include mq($until: desktop) {
            display: none;
        }
    }

    &--is-fixed {
        position: fixed;
        top: -$header-height;
        transition: transform .6s $ease-in-quart;

        @include mq($from: desktop) {
            top: -$header-height-desktop;
        }

        @include mq($from: wide) {
            top: -$header-height-wide;
        }

        &::after {
            opacity: 1;
        }
    }

    &--is-fixed#{$root}--is-visible {
        transform: translateY(100%);
    }

    &__container {
        @extend %container;

        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        height: $header-height;

        @include mq($from: desktop) {
            height: $header-height-desktop;
        }

        @include mq($from: wide) {
            height: $header-height-wide;
        }
    }

    &__button {
        font-size: 10px;
        color: $color-black;
        height: 23px;
        min-width: 83px;
        width: auto;
        margin-left: auto;
        display: none;
        font-weight: 500;

        #{$root}--is-fixed & {
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        height: 39px;
        width: 130px;

        @include mq($from: desktop) {
            width: 120px;
            height: 36px;
            margin-right: 65px;
        }

        @include mq($until: desktop) {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            #{$root}--is-fixed & {
                display: none;
            }
        }

        @include mq($from: wide) {
            width: 154px;
            height: 46px;
            margin-right: 155px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__guide-toggle {
        @include clear-button-defaults();

        height: 12px;
        width: 16px;
    }
}
