.menu-carousel {
    position: relative;

    @include mq($from: desktop) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include mq($from: wide) {
        padding-left: 50px;
        padding-right: 50px;
    }

    &__slides {
        backface-visibility: visible !important;
        padding-bottom: 15px !important;
        padding-top: 5px !important;
        overflow: visible !important;
    }

    &__slide {
        background-color: #fff;
        border-radius: 36px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
        min-height: 250px;
        height: auto !important;
        overflow: hidden;
    }

    &__control {
        @include clear-button-defaults();

        position: absolute;
        top: 50%;
        transition: opacity .3s;
        z-index: 20;

        @include mq($from: desktop) {
            height: 24px;
            width: 12px;
            margin-top: -12px;
        }

        @include mq($from: wide) {
            height: 32px;
            width: 18px;
            margin-top: -16px;
        }

        &::after {
            content: '';
            position: absolute;
            top: -100px;
            bottom: -100px;
            right: -20px;
            left: -20px;
        }

        &--prev {
            transform: rotate(180deg);
            left: -30px;

            @include mq($from: wide) {
                left: -60px;
            }
        }

        &--next {
            right: -30px;

            @include mq($from: wide) {
                right: -60px;
            }
        }

        &:hover {
            opacity: .65;
        }
    }

    &__image {
        height: 167px;

        @include mq($from: wide) {
            height: 265px;
        }

        img {
            @include square($size: 100%);

            display: block;
            object-fit: cover;
            user-select: none;
            object-position: 50% 50%;
        }
    }

    &__content {
        padding: 16px 35px 20px 20px;

        @include mq($from: wide) {
            padding: 32px;
            font-size: 16px;
            padding-right: 40px;
        }

        h4 {
            font-size: 10px;
            margin-bottom: 5px;

            @include mq($from: wide) {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }

        p {
            font-size: 12px;
            line-height: 1.15;

            @include mq($from: wide) {
                font-size: 18px;
                line-height: 1.2;
            }
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__pagination-step {
        @include square($size: 10px);
        @include clear-button-defaults();

        border-radius: 50%;
        border: 1px solid $color-green;
        display: block;
        font-size: 0;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &--is-active {
            background-color: $color-green;
        }
    }
}
