.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 120;
    display: none;
    background-color: rgba(30, 30, 30, .5);
    opacity: 0;
    transition: opacity .5s;

    /* stylelint-disable-next-line */
    @include mq($from: desktop) {
        &--is-active &__inner {
            transform: translateY(0);
        }
    }

    &--is-active {
        opacity: 1;
    }

    &__close {
        @include clear-button-defaults();
        @include square($size: 35px);

        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;

        @include mq($from: desktop) {
            display: none;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        height: 100vh;
        background-color: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        @include mq($from: desktop) {
            height: auto;
            width: 640px;
            border-radius: 36px;
            box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
            overflow: hidden;
            transition: transform .4s $ease-in-quart;
            transform: translateY(25px);
        }
    }
}
