.section {
    margin-bottom: 40px;

    @include mq($from: desktop) {
        margin-bottom: 80px;
    }

    @include mq($from: wide) {
        margin-bottom: 100px;
    }

    &--faq {
        position: relative;
    }

    &__container {
        @extend %container;
    }

    &__title {
        @extend %appear-animation;

        font-size: 22px;
        text-align: center;
        font-weight: 700;
        font-family: $accent-font-family;
        color: $color-black;
        line-height: 1.1;
        margin-bottom: 30px;

        @include mq($from: desktop) {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 50px;
        }

        @include mq($from: wide) {
            font-size: 36px;
            margin-bottom: 80px;
        }
    }
}
