.spinner {
    $root: &;

    position: relative;
    display: flex;
    height: 40px;
    border: 1px solid $color-black;
    border-radius: 31px;
    width: 138px;

    &:not(&--big) {
        @include mq($until: desktop) {
            height: 26px;
            width: 88px;

            #{$root}__control {
                width: 30px;
                flex: 0 0 30px;

                svg {
                    @include square($size: 8px);
                }
            }

            #{$root}__input {
                width: 30px;
                flex: 0 0 30px;
                font-size: 12px;
            }
        }
    }

    &__control {
        @include clear-button-defaults();

        height: 100%;
        width: 46px;
        flex: 0 0 46px;
        position: relative;

        svg {
            @include square($size: 14px);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:first-of-type {
            border-right: 1px solid $color-black;
        }

        &:last-of-type {
            border-left: 1px solid $color-black;
        }
    }

    &__input {
        $width: 45px;

        border: 0;
        cursor: default;
        background: 0 0;
        outline: 0;
        font-size: 18px;
        text-align: center;
        width: $width;
        flex: 0 0 $width;
        max-width: $width;
    }
}
