.subscribe {
    max-width: 465px;
    width: 100%;

    &__inner {
        position: relative;
    }

    &__field {
        display: block;
        width: 100%;
        border: 0;
        background: $color-white;
        font-size: 10px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 18px;
        padding-right: 120px;
        border-radius: 31px;
        outline: 0;
        font-family: inherit;
        color: $color-black;
        box-shadow: 0 2px 10px rgba(32, 32, 32, .1);

        @include mq($from: desktop) {
            font-size: 14px;
            padding-bottom: 14px;
            padding-left: 20px;
            padding-right: 160px;
        }

        @include mq($from: wide) {
            font-size: 18px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 180px;
        }

        &::placeholder {
            color: $color-gray1;
        }
    }

    &__submit {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        width: 115px;
        padding-left: 0;
        padding-right: 0;
        min-width: auto;
        font-weight: 500;
        height: 100%;

        @include mq($from: desktop) {
            width: 150px;
            font-size: 16px;
            font-weight: 600;
        }

        @include mq($from: wide) {
            width: 170px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
