.textbox {
    position: relative;
    display: block;

    &__input {
        background: 0 0;
        padding: 24px 18px 13px;
        border-radius: 26px;
        border: 1px solid $color-gray1;
        font-family: $base-font-family;
        font-size: 12px;
        color: $color-black;
        outline: 0;
        transition: border-color .22s, opacity .22s;
        display: block;
        width: 100%;
        resize: vertical;

        @include mq($from: desktop) {
            font-size: 14px;
            padding: 27px 25px 14px;
            border-radius: 36px;
        }

        @include mq($from: wide) {
            font-size: 18px;
            padding: 34px 25px 13px;
        }

        &:focus {
            border-color: $color-blue !important;

            // @include mq($from: wide) {
            //     border-width: 2px;
            // }
        }

        &:read-only {
            opacity: .6;
        }
    }

    &__placeholder {
        position: absolute;
        top: 18px;
        left: 18px;
        right: 18px;
        color: $color-gray1;
        font-size: 14px;
        font-weight: 500;
        transition: transform .25s cubic-bezier(.4, 0, .2, 1), opacity .25s;
        will-change: transform;
        pointer-events: none;
        transform-origin: left top;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        line-height: 1.15;

        @include mq($from: desktop) {
            font-size: 16px;
            left: 25px;
            right: 25px;
            top: 21px;
        }

        @include mq($from: wide) {
            font-size: 18px;
            font-weight: 600;
            top: 24px;
        }
    }

    &--error &__input {
        border-color: $color-red;

        // @include mq($from: wide) {
        //     border-width: 2px;
        // }
    }

    &__error-message {
        color: $color-red;
        font-size: 10px;
        position: absolute;
        top: calc(100% + 2px);
        left: 18px;
        min-width: 200px;

        @include mq($from: desktop) {
            font-size: 12px;
            left: 25px;
        }
    }

    &--floating &__placeholder {
        transform: translateY(-55%) scale(.75);
        opacity: .7;

        &::after {
            color: inherit !important;
        }
    }

    &__input:required ~ &__placeholder {
        &::after {
            content: ' *';
            display: inline;
            vertical-align: middle;
            font-size: 1.1em;
            color: $color-red;
            transition: color .25s;
        }
    }
}

.error-appear-leave-active,
.error-appear-enter-active {
    transition: opacity .3s, transform .3s $ease-in-quart;
}

.error-appear-leave-to,
.error-appear-enter {
    transform: translateY(50%);
    opacity: 0;
}

.error-appear-enter-to {
    transform: translateY(0);
}
