@mixin clear-button-defaults () {
    border: 0;
    border-radius: 0;
    background: 0 0;
    outline: 0;
    padding: 0;
    overflow: visible;
    font-family: inherit;
    text-align: left;
    color: inherit;
    cursor: pointer;
    appearance: none;

    &::-moz-focus-inner {
        border: 0;
    }
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin square ($size) {
    @include size($width: $size, $height: $size);
}

@mixin visually-hidden () {
    @include square($size: 1px);

    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

%container {
    padding-left: 16px;
    padding-right: 16px;

    @include mq($from: desktop) {
        padding-left: 0;
        padding-right: 0;
        max-width: $container-w-sm;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq($from: wide) {
        max-width: $container-w-md;
    }
}
