@use 'sass:math';

/* stylelint-disable */
@function strip-unit ($value, $unit: null) {
    $number: $value;

    @if type-of($value) == 'number' and not unitless($value) {
        $number: math.div($number1: $value, $number2: $value * 0 + 1);
    }

    @if $unit != null {
        @return #{$number}#{$unit};
    } @else {
        @return $number;
    }
}

@function get-vw ($screen-width, $target) {
    $vm-context: strip-unit($value: $screen-width) * .01;

    @return math.div($number1: $target, $number2: $vm-context) * 1vw;
}

@function map-breakpoints ($breakpoints) {
    $resolution-max: 0;
    $_breakpoints: map-merge($map1: (), $map2: $breakpoints);

    @each $name, $resolution in $breakpoints {
        $resolution-map: (
            min: $resolution
        );

        @if $resolution-max != 0 {
            $resolution-map: map-merge(
                $map1: $resolution-map,
                $map2: (
                    max: $resolution-max
                )
            );
        }

        $_breakpoints: map-merge(
            $map1: $_breakpoints,
            $map2: (
                $name: $resolution-map
            )
        );
        $resolution-max: $resolution - 1px;
    }

    @return $_breakpoints;
}

@mixin apply-scalable (
    $breakpoints: null,
    $base-font-size: 16px,
    $static-from: null,
    $static-to: null,
    $infinity-ratio: .6
) {
    $_breakpoints: map-breakpoints($breakpoints: $breakpoints);

    font-size: #{strip-unit($value: $base-font-size)}Px;

    @each $name, $resolution in $_breakpoints {
        $max: map-get($map: $resolution, $key: max);
        $min: map-get($map: $resolution, $key: min);

        @if $max {
            @media (min-width: $min) and (max-width: $max) {
                font-size:
                    get-vw(
                        $screen-width: $min,
                        $target: strip-unit($value: $base-font-size)
                    );
            }
        } @else {
            $max-resolution: $min * 4;
            $max-font-size: $base-font-size * 4 * $infinity-ratio;
            $font-distinction: strip-unit($value: $max-font-size - $base-font-size);
            $win-distinction: strip-unit($value: $max-resolution - $min);

            @media
                screen and
                (min-width: $min) and
                (max-width: $max-resolution - 1px) {
                font-size: calc(#{$base-font-size} + #{$font-distinction} * (100vw - #{$min}) / #{$win-distinction});
            }

            @media screen and (min-width: $max-resolution) {
                font-size: $max-font-size !important;
            }
        }
    }

    @if $static-from != null and $static-to != null {
        @media (min-width: $static-from) and (max-width: $static-to - 1px) {
            font-size: #{strip-unit($value: $base-font-size)}Px;
        }
    }
}
