$base-font-size: 16px;
$base-font-family-name: 'Montserrat';
$accent-font-family-name: 'MontserratAlternates';
$base-font-family: $base-font-family-name, Helvetica, Arial, sans-serif;
$accent-font-family: $accent-font-family-name, Helvetica, Arial, sans-serif;

$wide: 1600px;
$desktop: 1000px;
$tablet: 760px;
$mobile: 320px;

$breakpoints: (
    wide: $wide,
    desktop: $desktop,
    tablet: $tablet,
    mobile: $mobile
);

$header-height: 68px;
$header-height-desktop: 96px;
$header-height-wide: 136px;

$container-w-sm: 940px;
$container-w-md: 1420px;

$ease-out-quart: cubic-bezier(.165, .84, .44, 1);
$out-cubic: cubic-bezier(.22, .61, .36, 1);
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
$in-out-cubic: cubic-bezier(.65, .05, .36, 1);
$ease-in-quart: cubic-bezier(.48, 0, .12, 1);
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

$color-black: #424041;
$color-gray1: #828282;
$color-gray2: #adadad;
$color-white: #fff;
$color-green: #aac566;
$color-yellow: #ffd666;
$color-blue: #92b6dc;
$color-red: #f07168;

$mq-base-font-size: $base-font-size !default;
$mq-breakpoints: $breakpoints !default;
