@import 'scalable';

:root {
    --color-black: #222;
    --color-white: #f1f1f1;
    --header-height: 200px;

    @include apply-scalable(
        $breakpoints: $breakpoints,
        $base-font-size: $base-font-size,
        $static-from: $desktop,
        $static-to: $wide
    );
}

@mixin lock-screen () {
    @include square($size: 100%);

    overflow: hidden;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-size: $base-font-size;
    font-family: $base-font-family;
    overflow-x: hidden;
    position: relative;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    transition: opacity .9s .2s;

    &.is-loaded {
        opacity: 1;
    }
}

html.is-locked {
    @include lock-screen();

    body {
        @include lock-screen();
    }
}

img,
video {
    user-select: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

a {
    text-decoration: none;
    /* stylelint-disable-next-line */
    -webkit-text-decoration-skip: object;
}

sup {
    font-size: .5em;
    vertical-align: super;
}

b,
strong {
    font-weight: 700;
}

svg {
    @include square($size: 100%);

    display: block;
}

*::selection {
    color: $color-white;
    background: $color-black;
}

.svg-filters {
    height: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
}
