<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Корзина - propitanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.min.css" />
</head>
<body class="page">
    @@include('../layout/header.html')
    @@include('../partials/guide.html')
    <main class="page__content">
        <div id="cart"></div>
    </main>
    @@include('../layout/footer.html')
    <script src="js/common.min.js"></script>
    <script src="js/cart.min.js"></script>
</body>
</html>
