<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Главная - propitanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.min.css" />
</head>
<body class="page page--home">
    @@include('../misc/svg-filters.html')
    @@include('../layout/header.html')
    @@include('../partials/guide.html')
    @@include('../partials/hero.html')
    <main class="page__content">
        @@include('../partials/advantages.html')
        @@include('../partials/diet.html')
        @@include('../partials/week-menu.html')
        @@include('../partials/intro.html')
        @@include('../partials/reviews.html')
        @@include('../partials/founder.html')
        @@include('../partials/faq.html')
    </main>
    @@include('../layout/footer.html')
    @@include('../partials/cart-button.html')
    <div class="popup js-subscribe-banner">
        <div class="popup__wrapper">
            <div class="popup__inner">
                <button
                    aria-label="Закрыть"
                    title="Закрыть"
                    type="button"
                    class="popup__close"
                >
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#close"
                        ></use>
                    </svg>
                </button>
                @@include('../partials/banner.html')
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/common.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</body>
</html>
