<div class="cart-list">
    <div class="cart-list__products">
        <transition-group name="fade">
            <cart-product
                v-for="(product, index) in products"
                :key="product.name"
                :product="product"
                :index="index"
                @on-remove="removeProduct"
            />
        </transition-group>
        <div class="cart-product__row">
            <div class="cart-product__label">Количество дней</div>
            <div class="cart-product__amount">
                <div class="spinner">
                    <button
                        @click="updateDeliverAmount(-1)"
                        class="spinner__control"
                        type="button"
                    >
                        <svg>
                            <use
                                xlink:href="images/icons.svg#minus"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                            ></use>
                        </svg>
                    </button>
                    <input
                        class="spinner__input"
                        readonly
                        type="text"
                        v-model="userData.deliver_count"
                    />
                    <button
                        @click="updateDeliverAmount(1)"
                        class="spinner__control"
                        type="button"
                    >
                        <svg>
                            <use
                                xlink:href="images/icons.svg#plus"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-list__footer">
        <div class="cart-list__total-price">
            Итого
            <span class="cart-list__price">
                {{ totalPrice | toCurrency }}
            </span>
        </div>
        <div class="cart-list__delivery">
            <h4 class="cart-list__delivery-title">
                Дата первой доставки рациона
            </h4>
            <p class="cart-list__delivery-lead">
                Заказы поступившие после 20:00 доставляются через день
            </p>
            <div class="date-picker datepicker-trigger">
                <input
                    type="text"
                    class="date-picker__input"
                    id="datepicker-trigger"
                    readonly
                    :value="formattedDate"
                />
                <AirbnbStyleDatepicker
                    :trigger-element-id="'datepicker-trigger'"
                    :mode="'single'"
                    :fullscreen-mobile="true"
                    :show-shortcuts-menu-trigger="false"
                    :years-for-select="1"
                    :mobile-header="'Выберите дату'"
                    @date-one-selected="onDateSelected"
                    @previous-month="calcMonth"
                    @next-month="calcMonth"
                    :date-one="proxyDate"
                    :months-to-show="1"
                    :min-date="disableStartDates.to"
                    :disabled-dates="disabledDates"
                >
                    <template v-slot:next-month-icon>
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#arrow-right"
                            ></use>
                        </svg>
                    </template>
                    <template v-slot:previous-month-icon>
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#arrow-right"
                            ></use>
                        </svg>
                    </template>
                    <template v-slot:close-icon>
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#close"
                            ></use>
                        </svg>
                    </template>
                </AirbnbStyleDatepicker>
            </div>
        </div>
        <button
            @click="goToForm"
            class="button button--green cart-list__button"
            type="button"
        >
            Заполнить контактные данные
        </button>
    </div>
</div>
