<label
    :class="{
        'textbox--error': showError,
        'textbox--floating': focused || value
    }"
    class="textbox"
>
    <component
        :is="component"
        @focus="onFocus"
        @blur="onBlur"
        :value="value"
        v-on="listeners"
        v-bind="$attrs"
        class="textbox__input"
    />
    <span class="textbox__placeholder">{{ placeholder }}</span>
    <transition name="error-appear">
        <span class="textbox__error-message" v-show="showError">
            {{ errorMessage }}
        </span>
    </transition>
</label>
