<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <a class="footer__logo" href="/">
                <img alt="Пропитание" src="images/logo.svg" />
            </a>
            <address class="footer__address">
                <a class="footer__phone" href="tel:+79060049229">
                    +7 (906) 004-92-29
                </a>
                <p class="footer__text footer__time">
                    ежедневно<br class="u-mobile-only" />
                    с 9:00 до 18:00
                </p>
            </address>
            <h3
                class="footer__slogan footer__text footer__text--big u-mobile-only"
            >
                Сбалансированное питание с доставкой на дом в
                Петропавловске-Камчатском
            </h3>
            <div class="footer__subscribe">
                @@include('../partials/subscribe.html')
            </div>
        </div>
        <div class="footer__row">
            <h3
                class="footer__slogan footer__text footer__text--big u-desktop-and-up"
            >
                Сбалансированное питание с доставкой на&nbsp;дом в
                Петропавловске-Камчатском
            </h3>
            <ul class="footer__socials">
                <li class="footer__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#vk"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#instagram"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        href="https://vk.com/"
                    >
                        <svg>
                            <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="images/icons.svg#fb"
                            ></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer__banks">
                <span class="footer__banks-item footer__banks-item--mastercard">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#mastercard"
                        ></use>
                    </svg>
                </span>
                <span class="footer__banks-item footer__banks-item--visa">
                    <svg>
                        <use
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="images/icons.svg#visa"
                        ></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__terms">
                <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="footer__link"
                >
                    Публичная оферта
                </a>
                <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="footer__link"
                >
                    Согласие на обработку персональных данных
                </a>
            </div>
            <div class="footer__legal">
                <p class="footer__text">ИП Сергей Романов</p>
                <p class="footer__text">
                    ИНН 410000000000 ОГРНИП 310000000000000
                </p>
            </div>
            <div class="footer__copyrights">
                <p class="footer__text">
                    © 2017-2020<br />
                    Propitanie41 — сервис доставки здорового питания
                </p>
            </div>
        </div>
    </div>
</footer>
