<header class="header js-header">
    <div class="header__container">
        <button
            aria-label="Меню"
            title="Меню"
            class="header__guide-toggle js-guide-toggle u-mobile-only"
            type="button"
        >
            <svg>
                <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="images/icons.svg#menu"
                ></use>
            </svg>
        </button>
        <a class="header__logo" href="/">
            <img src="images/logo.svg" alt="Пропитание" />
        </a>
        <div class="header__navbar">@@include('../partials/menu.html')</div>
        <a
            href="/#select-diet"
            class="header__button button button--yellow u-mobile-only"
        >
            Заказать
        </a>
    </div>
</header>
