<div class="cart" :class="{ 'cart--is-visible': isVisible }">
    <h1 class="cart__title">Корзина</h1>
    <transition @enter="onEnter" name="fade" mode="out-in">
        <cart-list
            key="cart-list"
            v-if="!isCartEmpty && currentOrderStep === 0"
        />
        <cart-order
            key="cart-order"
            v-if="!isCartEmpty && currentOrderStep === 1"
        />
        <cart-success key="cart-success" v-if="currentOrderStep === 2" />
        <cart-empty
            key="cart-empty"
            v-if="isCartEmpty && currentOrderStep !== 2"
        />
    </transition>
    <portal-target name="select-list"></portal-target>
</div>
